@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

:root{
    --color-red: #EE2E31;
    --color-blue: #004f98;
    --color-white: #fff;
    --color-light-grey: #b7b7b7;
    --color-black: #0B0B0B;
    --color-gray: #333333;
}

*{
    margin:0;
    padding: 0;
    font-family: "Blinker", sans-serif;
}
body{
    box-sizing: border-box;
}
.text-red{
    color: var(--color-red);
}
.container-main{
    max-width: 1520px;
    width: 100%;
    margin: 0 auto;
}
.align--right{
    float: right;
}

.mt-100{
    margin-top: 100px;
}
.mt-90{
    margin-top: 90px;
}

.mt-78{
    margin-top: 78px;
}
.mt-70{
    margin-top: 70px;
}
.mb-70{
    margin-bottom: 70px;
}
.mb-60{
    margin-bottom: 60px;
}
.mt-50{
    margin-top: 50px;
}
.mt-20{
    margin-top: 20px;
}
.mobile-img{
    display: none;
}
.white-btn{
    border-radius: 52px;
    padding: 27px 61px;
    width: 269px;
    height: 78px;
    background: var(--color-white);
    font-size: 20px;
    font-weight: 600;
}
.transparent-btn{
    border: 2px solid #fff;
    border-radius: 52px;
    padding: 22px 57px;
    width: 269px;
    height: 78px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-white);
}
.blue-transparency-btn{
    border: 2px solid #004f98;
    border-radius: 52px;
    padding: 21px 42px;
    width: 229px;
    height: 78px;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
}
.navbar{
    max-width: 1520px;
    margin: 0 auto;
}
.nav-links-container{
    justify-content: center;
}
.nav-links{
    gap: 100px;
    font-size: 20px;
    font-weight: 600;
}
.nav-link.active{
    color: var(--color-blue) !important;
}
.line{
    height: 1px;
    width: 100%;
    background-color: var(--color-blue);
}

.intro-wrapper{
    display: flex;
}

.intro-title{
    font-size: 98px;
    font-weight: 600;
    color: var(--color-black);
    width: 710px;
}
.intro-left{
    width: 30%;
}

.intro-right{
    background-image: url(../assets/img/container-hero.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 70%;
}
.right-text{
    color: var(--color-black);
    font-size: 20px;
    font-weight: 500;
    width: 515px;
    float: right;
}

.blue-btn{
    border-radius: 52px;
    padding: 27px 61px;
    background-color: var(--color-blue);
    width: 269px;
    height: 78px;
    font-weight: 600;
}
.box-img{
    width: 220px;
}

.info-text{
    font-size: 64px;
    font-weight: bold;
    margin: 0;
    color: var(--color-black)
}
.info-description{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: var(--color-black);
}

.info-text.active, .info-description.active{
    color: #EE2E31;
}

/* About section */
.about-wrapper{
    background-color: var(--color-blue);
    border-radius: 42px;
    padding:29px 42px;
}
.about-text-wrapper{
    display: flex;
    gap: 68px;
}
.about-text-heading{
    font-size: 96px;
    font-weight: 400;
    color: var(--color-white);
}

.about-text-description{
    color: var(--color-light-grey);
    max-width: 392px;
}
.about-button-wrapper{
    display: flex;
    gap: 30px;
}
.btn-icon{
    margin-right: 15px;
}

.service-heading{
    font-size: 83px;
    width: 550px;
    color: var(--color-black);
}

.service-block-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    color: var(--color-black);
}
.service-number{
    font-size: 40px;
    font-weight: 600;
}
.service-block{
    background-color: #F8F8F8;
    border-radius: 42px;
    padding:  30px 53px 99px 53px;
}
.service-text{
    font-size: 32px;
    width: 264px;
}
.service-block.active{
    background-image: url(../assets/img/Service.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
}


.delivery-heading{
    width: 550px;
    font-size: 83px;
    margin-left: auto;
    color: var(--color-black);
}
.delivery-block-wrapper{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.delivery-block{
width: 100%;
    background-color: #F8F8F8;
    border-radius: 42px;
    padding:  30px 53px 45px 53px;
    color: var(--color-black);
}

.delivery-block.active{
    background-image: url(../assets/img/Type.png);
    background-repeat: no-repeat;
    color: var(--color-white);

}

.service-img{
    max-width: 92px;
}
.delivery-text{
    margin-top: 112px;
    max-width: 176px;
    font-size: 48px;
}

.contact-wrapper{
    display: flex;
    justify-content: space-between;
}

.heading-left{
    font-size: 83px;
    color: var(--color-black);
}
.contact-list-wrapper{
    display: flex;
    font-size: 24px;
    gap: 15px;
   color: var(--color-black);
}

.contact-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid #0B0B0B;
}

.contact-link{
    font-size: 48px;
    color: var(--color-black);
}
.contact-list-container{
    width: 1000px;
}

.footer{
    background: var(--color-blue);
    border-radius: 42px 42px 0 0;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 78px;
}

.footer-left{
    width: 570px;
}

.footer-intro-text{
    font-size: 20px;
    color: var(--color-white);
}

.footer-cta{
    font-size: 83px;
    color: var(--color-white);
}
.footer-right{
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: 400;
    color: var(--color-white);
}

.bottom-wrapper{
    display: flex;
    gap: 120px;
    color: var(--color-white);
}


.hero-heading{
    color: var(--color-black);
    text-align: center;
    font-weight: 600;
}

.hero-text{
    color: var(--color-gray);
    text-align: center;
    font-size: 19px;
}
.blocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.block-item{
    display: flex;
    background-color: #F4F6FA;
    padding: 29px 0px 0 29px;
    width: 553px;
}
.block-heading,.block-heading-desc{
    font-size: 29px;
    font-weight: bold;
    margin: 0;

}
.block-description{
    margin-top: 39px;
    font-size: 16px;
    width: 260px;
}
.about-us-container{
    display: flex;
    justify-content: center;
    gap: 73px;
}

.about-us-heading{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 16px;
}
.about-us-text{
    font-size: 18px;
    color: var(--color-gray);
}
.cart-left{
    margin-left: 170px;
}
.cart-wrapper{
    background-color: #F4F4F4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}
.cart-heading,.warehouse-heading{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 43px;
}
.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.contact-us-container{
    background-image: url(../assets/img/truck-driver-opening-reservoir-tank-refuel-truck-holding-thumbs-up\ 1.png);
    height: 720px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contact-form{
    background-color: var(--color-white);
    padding: 41px 10px 41px 74px;
    border-radius: 15px;
    margin-right: 170px;
    width: 644px;
}
.contact-form-heading{
    font-size: 58px;
    font-weight: bold;
}
.contact-us-text{
    font-size: 18;
    color: var(--color-gray);
}
.form-input{
    background: rgba(71, 98, 255, .1);
}
.form-contact {
    gap: 25px;
    margin-right: 74px;
}

@media (max-width: 1024px) {
    .cart-left{
        margin-left: 20px;
    }
}

@media (max-width: 878px){
    .block-item{
        width: auto;
    }
    .intro-left{
        width: 100%;
    }
    .mobile{
        display: none;
    }
    .mobile-img{
        width: 320px;
    }
    .intro-info{
        display: flex;
        justify-content: space-around;
    }
    .intro-wrapper{
        flex-direction: column;
    }
    .intro-right{
        background: none;
        width: 100%;
    }
    .mobile-img{
        width: 500px;
        display: block;
        margin: 0 auto;
    }
    .right-text{
        float: none;
        margin: 0 auto;
    }
    .about-img img{
        width: 350px;
    }
    .about-text-description{
        max-width: 258px;
    }
    .about-text-heading {
        font-size: 36px;
    }
    .about-button-wrapper{
        flex-direction: column;
    }
    .transparent-btn{
        padding: 22px 56px;
    }
    .contact-wrapper{
        flex-direction: column;
    }
    .contact-list-container{
        width: auto;
    }
    .delivery-block-wrapper{
        overflow-x: hidden;
    }
    .service-block-wrapper{
        gap: 4px;
    }
    
    .companies-slider img{
        width: -webkit-fill-available;
    }
    .footer-wrapper{
        flex-direction: column;
        padding: 78px 0 20px 0;
        margin: 0 20px;
    }
    .bottom-wrapper{
        margin: 0 20px;
    }
    .contact-wrapper{
        margin-bottom: 78px;
    }

    .mobile-mt-90{
        margin-top: 90px;
    }
    .about-us-container{
        align-items: center;
    }
    .about-us-right img{
        width: 250px;
    }
    .cart-wrapper{
        flex-direction: column;
    }
    .cart-left{
        margin: 20px 20px 0px 20px;
    }
    .img-container img{
        width: -webkit-fill-available;
    }
    .img-container .pagination{
        width: auto;
    }
    .contact-form{
        margin: 0 auto;
    }
}

@media (max-width: 477px) {
    body{
        overflow-x: hidden;
    }
   
    .about-us-container{
        flex-direction: column;
    }
    .about-us-right img{
        max-width: 300px;
    }
    .cart-wrapper{
        flex-direction: column;
    }
    .cart-left{
        padding-left: 15px;
        margin: 0;
    }
    .cart-right img{
        max-width: 320px;
    }
    .blue-btn{
        width: 162px;
        height: 50px;
    }
    .form-contact{
        margin: 0;
    }
    .contact-us-text {
        font-size: 14px;
    }
    .contact-form-heading {
        font-size: 24px;
    }
    .contact-form{
        padding: 25px;
        width: 258px;
        margin: 0 auto;

    }
  
   
    .intro-title{
        width: 350px;
        font-size: 58px;
    }
    .intro-info{
        display: flex;

    }
    .info-text{
        font-size: 48px;
    }
    .info-description{
        font-size: 18px;
    }
    .info-item{
        text-align: center;
    }
    .intro-right{
        background: none;
    }
    .right-text{
        float: none;
        width: 315px;
    }
    .mobile-img{
        width: 320px;
    }
    .about-button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }
    .transparent-btn{
        padding: 22px 50px;
    }
    .about-text-wrapper{
        flex-direction: column;
    }
    .about-text-description img, .about-img img{
        max-width: 250px;
        margin: 0 auto;
    }
    .about-wrapper{
        padding: 0px 20px;
    }
    .companies-slider img{
        overflow: hidden;
    }
    .about-text-heading{
        text-align: center;
        font-size: 38px;
    }
    .about-text-description{
        text-align: center;
    }
    .service-heading, .delivery-heading,.heading-left{
        width: 320px;
    font-size: 42px;
    text-align: center;
    }

    .service-block{
        padding: 11px 20px 39px 20px;
        width: 145px;
        height: 109px;
        border-radius: 16px;
    }
    .service-block-wrapper{
        gap: 6px;
    }
    .service-number,.service-text{
        font-size: 14px;
    }
    .service-text{
        width: auto;
    }
    .delivery-text{
        font-size: 24px;
        width: 120px;
    }
    .contact-list{
    display: flex;
    border-bottom: 1px solid #0B0B0B;
    flex-direction: column;
    }
    .contact-wrapper{
        flex-direction: column;
        gap: 20px;
    }
    .contact-list-container{
        width: auto;
        overflow: hidden;
    }
    .contact-list-wrapper{
        font-size: 16px;
    }
    .contact-link{
        font-size: 26px;
    }
    .footer-wrapper{
        padding: 78px 20px;
    flex-direction: column;
    }
    .footer-left{
        width: auto;
    }
    .footer-cta{
        font-size: 56px;
    }
    .footer-right{
        flex-direction: column;
        gap: 15px;
    }
    .bottom-wrapper{
        flex-direction: column;
        gap: 15px;
        padding: 0 20px;
    }
    .blue-btn{
        width: 222px;
        height: 70px;
        align-items: center;
        display: flex;
    }
    .block-item{
        padding: 15px 0px 0 29px;
    }
    .block-heading, .block-heading-desc{
        font-size: 18px;
    }
    .block-description{
        width: auto;
        font-size: 15px;
    }
    .block-item img{
        width: 150px;
    }

}